<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
<body>
  <div class="header">
    <div class="hamburger-menu">MENU</div>
    <div class="logo">TODO LIST</div>
    <div class="theme">THEME</div>
  </div>
  <div class="content">
    <div class="side-bar">
      <div class="tasks">
        <li id="filter-all">All Tasks</li>
        <li id="filter-today">Today</li>
        <li id="filter-seven">Next 7 Days</li>
        <li id="filter-starred">Starred</li>
      </div>
      <div class="projects">
        <p>Projects</p>
        <li>Add Project</li>
      </div>
    </div>
    <div class="main-content">
      <div class="section">Tasks</div>
    </div>
  </div>
</body>
</html>
