body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px green;
}

.content {
  display: flex;
  flex-grow: 1;
}

.side-bar {
  padding: 1em;
}

li {
  list-style-type: none;
}

.tasks li,
.projects li {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.projects p {
  font-weight: bold;
  font-size: 1.3em;
}

.main-content {
  background-color: #ececec;
  display: flex;
  flex-grow: 1;
}

.main-content .section {
}
