* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --green-accent: #2abd67;
  --white-text: #f7f5f5;
  --gap: 0.5rem;
  --radius: 5px;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px green;
  align-items: center;
  padding: 1em;
}

.header .logo {
  font-weight: bold;
  font-size: 2em;
}

.content {
  display: flex;
  flex-grow: 1;
}

.side-bar {
  padding: 1em 1em 0 0.5em;
  width: 20%;
}

li {
  list-style-type: none;
}

.tasks li,
.projects li,
.project-item {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  padding: 0.3em;
}

.tasks li:hover,
.projects li:hover,
.project-item:hover {
  cursor: pointer;
  background-color: #ececec;
}

.projects p {
  font-weight: bold;
  font-size: 1.3em;
}

.projects-list {
  margin: 0;
  padding: 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item p {
  pointer-events: none;
  font-weight: normal;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

.project-item span {
  position: relative;
}

.project-item span:hover {
  background-color: var(--green-accent);
  color: var(--white-text);
}

.dropdown {
  position: absolute;
  font-size: 0.8em;
  width: 130px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: white;
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: var(--green-accent);
  border-radius: var(--radius);
  color: white;
}

.main-content {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content .section {
  font-size: 1.2em;
  padding: 1em;
  margin: 1em;
  text-align: center;
  background-color: var(--green-accent);
  color: var(--white-text);
}
